<h1 class="text-info">BEM VINDOS A ETEC CIDADE DO LIVRO</h1>

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img  class="img-fluid"src="/assets/capa2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">A ETEC CIDADE DO LIVRO ESTÁ ENTRE AS  MELHORES ESCOLAS DE LENÇÓIS PAULISTA MINHA GENTE!!!!.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="img-fluid" src="/assets/capa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">EQUIPE GESTORA DA ETEC CIDADE LIVRO.</p>
      </div>
    </div>
  </div>
</div>
